{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Kiosk Page</title>
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalized.css' %}" />
    <link rel="stylesheet" href="{% static 'css/kioskmain.css' %}"/>
    <script src="{% static 'jquery-ui-1.12.1.custom/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="first">
        <div id="innerFirst">
            <img class="img-responsive" src="{% static 'img/header.png' %}">
        </div>
    </div>
    <div class="third">
        <div class="container-fluid">
            <iframe id="maindisplay" src="{% url 'terminal:welcome' %}"></iframe>
        </div>
    </div>
    <div class="second">
        {% include 'terminal_list.html' %}
    </div>
</div>
</body>
</html>