{% load staticfiles %}
<div class="container">
    {% for link in object_list %}
        <div class="linkBox col-md-12">
            <p><span class="linkList">{{ link.name }}</span></p>
        </div>
    {% endfor %}
</div>