{% extends "_layout.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="col-md-8 col-md-offset-2" id="loginDiv">
    {% if not success %}
     <div class="row col-md-6 col-md-offset-4" id="failedAuthenticate">
        <p class="failure">Failed to authenticate.</p>
        <p class="failure">check your username and password and try again.</p>
        <p class="failure">if the problem persists, contact the IT department</p>
     </div>
    {% endif %}
        <div class="col-md-6 col-md-offset-3">
              <form action="{% url "login:user_login" %}" method="post"  accept-charset="utf-8">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <input class="btn btn-default" type="submit" value="Login">
              </form>
        </div>
</div>
{% endblock %}
