{% extends '_layout.html' %}
{% block content %}
    <h2>Url List</h2>
    <div id="inner">
    <a href="{% url 'contentmanager:link_create' %}" class="fm-create" data-fm-head="Create" data-fm-callback="reload">Add Link</a>
        {% for url in object_list %}
            <ul class="urlList list-inline">
                <li class="urlListItem "><h3>{{ url.name }}</h3></li>
                <li class="urlListItem "><h3>{{ url.url }}</h3></li>
                <li class="urlListItem ">
                    <h3>
                        <a href="{% url 'contentmanager:link_update' url_pk=url.id %}"
                           class="fm-update" data-fm-head="Update"
                           data-fm-callback="reload">Update</a>
                    </h3>
                </li>
                 <li class="urlListItem ">
                     <h3>
                        <a href="{% url 'contentmanager:link_delete' url_pk=url.id %}"
                           class="fm-delete" data-fm-head="Delete"
                           data-fm-callback="reload">Delete</a>
                     </h3>
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
