html, body, .container
{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
}

html, body, .container
{
    height: 100%;
    min-height: 100%;
}

.first {
    float: left;
    width: 15%;
    height: 10%;
    background-color: white;
    display: block;
    align-content: center;
}

#innerFirst{
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;

}

.second{
    float: left;
    width: 15%;
    height: 90%;
    background-color: lightgrey;
}


.third{
    float: right;
    width: 85%;
    height: 100%;
    background-color: navajowhite;
}

.fourth {
    float: right;
    width: 40%;
    height: 20%;
    background-color: #DDDDDD;
}

.last{
    float: right;
    width: 40%;
    height: 20%;
    background-color: yellow;
}

.linkBox{
    border: solid 1px black;
    width: 95%;
    text-align: center;
    margin: 4px;
    height: 45px;
    padding-top: 8%;
    border-radius: 10px;
    color: blue;
}

.linkBox:hover{
    background-color: black;
    color: white;
}


.linkList{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

#welcomeContainer {
    text-align: center;
    height: 100%;
}

#maindisplay{
    height: 99vh;
    width: 100%;
    border: none;
}