#phoneEventList {
    list-style-type: none;
    overflow: hidden;
    margin-top: 25px;
    padding: 0;
}

#recordListed {
    list-style-type: none;
    margin-left: 4px;
    padding: 10px;
}

#listDiv{
    margin-top: 5px;

}



#callerIdLi{
    width: 150px;
}

#audioDiv{
    position: relative;
    float: right;
}


#wrapper{
   width: 100%;
   overflow: hidden;
}

#navbarImgDiv{
    position: relative;
    float: left;
    clear: both;
}

#navbarHeadLine{
    position: relative;
    float: right;
    margin-left: 10px;
    color: white;
}

#loginDiv{
    margin-top: 40px;
    background-color: rgba(100,100,100,0.4);
    border: solid 5px black;
    border-radius: 25px;
    padding: 10px;
}

h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-login {
    background-color: rgba(0,0,0,.45);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}


.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

nav{
    height: 75px;
}


#headerImg{
    margin-top: -12px;
    max-width: 100%;
    height: auto;
    display: block;
}

#mainContainer{
    margin-top: 30px;
    text-align: center;
}

#contentDiv{
    min-width: 350px;
    margin: 0 auto;
}

#headerDiv{
    display: block;
    margin: 0 auto;
}

.failure{
    color: red;
    text-decoration: solid;
    font-size: 1.2em;
}

#failedAuthenticate{
    text-align: center;
    margin-top: -40px;
}

.recordListnerDiv{
    position: relative;
    float: left;

}

#searchButton{
    margin-top: 25px;
}

.searchBox{
    margin-top: 25px;
    margin-left: 14px;
}

input[type=text] {
    outline: none !important;
    padding: 4px;
    margin-top: 4px;
    border: 2px solid #DDDDDD;
    border-radius: 3px;
}

input[type=text]:focus {
    box-shadow: 1px 1px 25px rgba(174, 174, 174, 1);
    padding: 4px;
    margin-top: 4px;
    border: 2px solid rgba(174, 174, 174, 1);
}

.urlList {
    list-style-type: none;
    overflow: hidden;

}


.urlListItem{
    float: left;
    margin: 5px;

}

#inner{
    width: auto;
    margin: 0 auto;
    overflow: hidden;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















