{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <Title>{% block title %}{% endblock %}</Title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'img/header.png' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.theme.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendor/jquery.timepicker.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <script src="{% static 'jquery-ui-1.12.1.custom/external/jquery/jquery.js' %}"></script>
        <script src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>


    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="wrapper" class="navbar-header">
            <div id="navbarImgDiv">
                <a class="navbar-brand" href="#"><img id="headerImg" src="{% static 'img/header.png' %}"></a>
            </div>
            <div id="navbarHeadLine">
                <h2></h2>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div id="mainContainer" class="container">
      <div class="row">
         <div id="headerDiv">{% block header %}{% endblock %}</div>
      </div>
      <div class="row">
          <div id="contentDiv" class="col-md-12">{% block content %}{% endblock %}</div>
      </div>
      <hr>
      {% include "fm/modal.html" %}
      <script type="text/javascript">
          $(function () {
              $.fm({debug:true})
          });
      </script>
      <footer>
        <p>&copy; Martin Transportation Systems 2017</p>
      </footer>
    </div> <!-- /container -->
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/vendor/bootstrap.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>